{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<h1>Admin page</h1>

<form  id="theForm" method="post" action="/admin">

<div style="text-align: right;">
    <input type="submit" name="submit_button" value="Save Settings" />
</div>

<div class="visual-frame">
    <!-- Your components go here -->
    <h2>Global Functional Settings</h2>
    <p>These settings are applied globally across the application.</p>
    <label for="riskFreeRate">Risk Free Rate (base 1 not % -> for 3% set at 0.03):</label>
    <input type="text" id="riskFreeRate" name="riskFreeRate" placeholder="Enter risk free rate (>0)" value="{{ conf.risk_free_rate }}" />


    <label for="targetYearlyRate">Target Yearly Rate (base 1 not % -> for 3% set at 0.03):</label>
    <input type="text" id="targetYearlyRate" name="targetYearlyRate" placeholder="Enter target yearly rate (>0)" value="{{ conf.target_yearly_rate }}" />
</div>


<div class="visual-frame">
    <h2>Global Actions</h2>
    <p>Relatively safe actions</p>
    <table>
        <tr>
            <td><p>Make a copy of the database file in the same directory:</p></td>
            <td><input type="submit" name="submit_button" value="Backup database" /></td>
        </tr>
        <tr>
            <td><p>Download the current database file:</p></td>
            <td><input type="submit" name="submit_button" value="Download database" onclick="window.location.href='/admin/download-db'; return false;" /></td>
        </tr>
    </table>
    
    
</div>


<div class="visual-frame">
    <h2>⛔☠️☠️ REAL DANGEROUS THINGS ☠️☠️⛔</h2>
    <p>Think twice before clicking.</p>
    <label for="deleteFund">Select Fund to Delete:</label>
    <select id="deleteFund" name="deleteFund">
        {% for fund in funds %}
            <option value="{{ fund.fund_id }}">{{ fund.name }}</option>
        {% endfor %}
    </select>
    ⚠️
    <input 
    type="submit" 
    name="submit_button" 
    onClick="clickConfirm('action_delete', 
        document.getElementById('deleteFund').value, 
        'Are you sure you want to delete this fund ['+document.getElementById('deleteFund').options[document.getElementById('deleteFund').selectedIndex].text+'] ?');" 
    value="Delete fund"></input>
</div>

</form>
{% endblock %}

    
