{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<h1>Admin page</h1>

<form method="post" action="/admin">

<div style="text-align: right;">
    <input type="hidden" name="save" value="true" />
    <input type="submit" value="Save Settings" />
</div>

<div class="visual-frame">
    <!-- Your components go here -->
    <h2>Global Functional Settings</h2>
    <p>These settings are applied globally across the application.</p>
    <label for="riskFreeRate">Risk Free Rate (base 1 not % -> for 3% set at 0.03):</label>
    <input type="text" id="riskFreeRate" name="riskFreeRate" placeholder="Enter risk free rate (>0)" value="{{ conf.risk_free_rate }}" />
</div>

</form>
{% endblock %}

    
