<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fund Manager{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

<!-- Have to define Macro here to be available in all pages -->
{% macro xact_table(xact, options) -%}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Price</th>
                    {% if options.show_fund %}
                    <th>Fund</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in xact %}
                <tr>
                    <td>{{ item.date }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.price }}</td>
                    {% if options.show_fund %}
                    <td>{{ options.fundname }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}
    
    <header>
        <h1>Fund Manager Companion</h1>
        <nav>
            <ul style="list-style: none; padding: 0; margin: 0;">
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('home_page') }}">Home</a></li>
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('show_funds_page') }}">Funds</a></li>
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('bp_transactions.transactions_page') }}">Transactions</a></li>
                <li style="display: inline; margin-right: 1em;"><a href="#">Holdings</a></li>
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('bp_admin.admin_page') }}">Admin</a></li>

            </ul>
        </nav>
    </header>
    <main>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}" style="margin-bottom:1em; padding:0.7em 1em; border-radius:5px; background:#ffeeba; color:#856404; border:1px solid #ffeeba;">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
    </main>
</body>
</html>
