{% extends 'base.html' %}

{% block title %}Funds List{% endblock %}

{% block content %}
<h1>Funds List ({{ pos | length }} funds)  </h1>

<a href="/funds/register" class="button" style="margin-bottom: 1em; display: inline-block;">Register New Fund</a>

<table class="screensplit">
    <tbody>
        <tr>
            <td style="vertical-align: middle;">
                <span class="total_positions">Total estimated position amount = {{ "{:,.0f}".format(stats['total_positions']) }} 円</span>
            </td>

            <td>
                <canvas id="fundsDonutChart" width="500" height="200"></canvas>
                <script>
                    //OceanBreeze palette from Coolors (thank you!)
                const palette = ['#03045E', '#0077B6', '#00B4D8', '#90E0EF', '#CAF0F8'];
                const ctx = document.getElementById('fundsDonutChart').getContext('2d');
                const zaChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ["{{ pos | map(attribute='name') | join('", "') | safe }}"],
                        datasets: [{
                            data: [{{ pos | map(attribute='portfolio_holding_contrib_pct')  | join(', ') | safe }}],
                            backgroundColor: palette,
                        }]
                    },
                    options: {
                        responsive: false,
                        legend: {
                            display: false
                        },
                        tooltips: {
                            callbacks: {
                                title: function(tooltipItem, data) {
                                return data['labels'][tooltipItem[0]['index']];
                                },
                                label: function(tooltipItem, data) {
                                return data['datasets'][0]['data'][tooltipItem['index']] + '% of portfolio';
                                },
                            }
                        }
                    }, 
                    plugins: [
                        {
                            afterDraw: function(chart) {
                                var ctx = chart.chart.ctx;
                                ctx.save();
                                var image = new Image();      
                                image.src = '/favicon.png';      
                                imageSize = 64;
                                ctx.drawImage(image, chart.chart.width / 2 - imageSize / 2, chart.chart.height / 2 - imageSize / 2, imageSize, imageSize);
                                ctx.restore();
                            }
                        }
                    ]
                });
                </script>
            </td>
        </tr>
    </tbody>
</table>

<table>
        <tr>
            <th>FundID</th>
            <th>Name</th>
            <th>% of portfolio</th>
            <th>Current shares</th>
            <th>Current amount</th>
            <th>Latest NAV</th>
            <th>Latest NAV Date</th>
            <th class="tooltip">6M Total Return%
                <span class="tooltiptext">6 Months Total Return Percentage (NAV difference including received dividends)</span>
            </th>
            <th class="tooltip">1Y Total Return%
                <span class="tooltiptext">1 Year Total Return Percentage (NAV difference including received dividends)</span>
            </th>
        </tr>
    {% for p in pos %}
    {% set impact_threshold = 10 %}
    {% set ytd_warning_threshold = 3 %}
    <tr>
        <td id="td{{ p['fund_id'] }}" class="fund_header">{{ p["fund_id"] }}</td>
        <td class="{{ 'impact' if p['portfolio_holding_contrib_pct'] >= impact_threshold else '' }}"><a href="/funds/{{ p['fund_id'] }}">{{ p["name"] }}</a></td>
        <td class="rightalign {{ 'impact' if p['portfolio_holding_contrib_pct'] >= impact_threshold else '' }}">{{ "{:,.0f}%".format(p["portfolio_holding_contrib_pct"]) }}</td>
        <td class="rightalign">{{ "{:,.0f}".format(p["latest_unit"]) }}</td>
        <td class="rightalign">{{ "{:,.0f}".format(p["latest_unit"] * p["latest_nav"] / 10000.0 ) }}&nbsp;円</td>
        <td class="rightalign">{{ "{:,.0f}".format(p["latest_nav"]) }}</td>
        <td class="rightalign">{{ p["latest_date_nav"][:10] }}</td>
        <td class="rightalign unbreakable {{ 'stat_positive' if p['total_return_6m'] > ytd_warning_threshold else 'stat_negative' if p['total_return_6m'] < 0 else 'stat_warning' }}">{{ "{:+,.2f}%".format(p["total_return_6m"]) }} {{ "🚀" if p['perf_evolution'] < 0 else ""  }}</td>
        <td class="rightalign {{ 'stat_positive' if p['total_return_12m'] > ytd_warning_threshold else 'stat_negative' if p['total_return_12m'] < 0 else 'stat_warning' }}">{{ "{:+,.2f}%".format(p["total_return_12m"]) }}</td>
    </tr>
    {% endfor %}
</table>
<script lang="javascript">
    //Paint the row with color of the doughnut
    let cnt = 0;
    for (const p of [{{ pos | map(attribute='fund_id') | join(', ') | safe }}]) {
        const td = document.getElementById(`td${p}`);
        // Use the palette colors for each fund ID (works because the palette is defined above and the funds are in the highest contribution order desc)
        if (cnt < palette.length) {
            td.style.backgroundColor = palette[cnt];
        }
        cnt ++;
    }
</script>
<details>
    <summary>Fund NAV refresh actions (click to unfold)</summary>
    <form method="post" action="/funds">
        <input type="hidden" name="update_nav" value="true">
        <input type="submit" value="Update ALL funds latest NAV">
    </form>
    <form method="post" action="/funds">
        <input type="hidden" name="update_history_nav" value="true">
        <input type="submit" value="Update ALL funds HISTORICAL NAV">
    </form>
    <form method="post" action="/funds">
        <input type="hidden" name="update_whole_nav" value="true">
        <input type="submit" value="Update ALL funds WHOLE NAV from Investment Trust Association">
    </form>
</details>
{% endblock %}

    
