{% extends 'base2.html' %}

{% block title %}Funds Detail{% endblock %}

{% block content_left %}
<h2>Fund Details</h2>
<table>
    <tr>
        <th>Fund UID</th>
        <td>{{ fund.fund_id }}</td>
        <td>Last NAV={{ "{:,.0f}".format(fund.nav_sorted[0][1]) if fund.nav_sorted else "n/a" }} {{ fund.currency }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td colspan="2">{{ fund.name }}</td>
    </tr>
    <tr>
        <th>Codes</th>
        <td>
            {% if fund.codes %}
                <ul>
                    {% for code, value in fund.codes.items() %}
                        <li>{{ code }}: <code>{{ value }}</code></li>
                    {% endfor %}
                </ul>
            {% else %}
                No codes available
            {% endif %}
        </td>
        <td>
            <ul>
                <li><a href="https://fund.monex.co.jp/detail/{{fund.codes['yahoo_finance']}}" target="_blank">MONEX site</a></li>
                <li><a href="https://finance.yahoo.co.jp/quote/{{fund.codes['yahoo_finance']}}" target="_blank">Yahoo Finance</a></li>
                <li><a href="https://toushin-lib.fwg.ne.jp/FdsWeb/FDST030000?isinCd={{fund.codes['ISIN']}}" target="_blank">Toushin Lib （投資信託協会）</a></li>
            </ul>
        </td>
    </tr>
</table>

<h3>Statistics</h3>
<table class="screensplit">
    <tr>
        <td> 
            <!-- ==================================== LEFT SIDE ==================================== -->
            <table>
                <tr>
                    <th>Latest NAV</th>
                    <td>{{ "{:,.0f}".format(fund.latest_nav) if fund.latest_nav else "n/a" }}</td>
                </tr>
                <tr>
                    <th class="tooltip">YtD Total Return (excess)
                        <span class="tooltiptext">Year-to-Date Total Return including dividends (excess = discarding the risk free investment ratio)</span>
                    </th>
                    <td class="{{ 'stat_positive' if fund.stats['return_ytd'] > 0 else 'stat_negative' if fund.stats['return_ytd'] < 0 else 'stat_warning' }}">{{ "{:+,.2f}%".format(fund.stats['return_ytd'])  }} ({{ "{:+,.2f}%".format(fund.stats['excess_return_ytd'])  }})</td>
                </tr>
                <tr>
                    <th class="tooltip">1Y Total Return (excess)
                        <span class="tooltiptext">1-Year Total Return including dividends (excess = discarding the risk free investment ratio)</span>
                    </th>
                    <td class="{{ 'stat_positive' if fund.stats['return_1y'] > 0 else 'stat_negative' if fund.stats['return_1y'] < 0 else 'stat_warning' }}">{{ "{:+,.2f}%".format(fund.stats['return_1y'])  }} ({{ "{:+,.2f}%".format(fund.stats['excess_return_1y'])  }})</td>
                </tr>
                <tr>
                    <th class="tooltip">3Y Total Return (excess)
                        <span class="tooltiptext">3-Year Total Return including dividends (excess = discarding the risk free investment ratio)</span>
                    </th>
                    <td class="{{ 'stat_positive' if fund.stats['return_3y'] > 0 else 'stat_negative' if fund.stats['return_3y'] < 0 else 'stat_warning' }}">{{ "{:+,.2f}%".format(fund.stats['return_3y'])  }} ({{ "{:+,.2f}%".format(fund.stats['excess_return_3y'])  }})</td>
                </tr>
                <tr>
                    <th>Last Year Total Return</th>
                    <td class="{{ 'stat_positive' if fund.stats['return_last_year'] > 0 else 'stat_negative' if fund.stats['return_last_year'] < 0 else 'stat_warning' }}">{{ "{:+,.2f}%".format(fund.stats['return_last_year'])  }}</td>
                </tr>
                
                <tr>
                    <th class="tooltip">3Y CAGR
                        <span class="tooltiptext">3-Year Compound Annual Growth Rate: assuming you reinvest dividends in the fund, this AVERAGED performance is useful for long term comparison of performance of funds</span>
                    </th>
                    <td class="{{ 'stat_positive' if fund.stats['cagr_3y'] > 0 else 'stat_negative' if fund.stats['cagr_3y'] < 0 else 'stat_warning' }}">{{ "{:+,.2f}%".format(fund.stats['cagr_3y'])  }}</td>
                </tr>
                
            </table>

        </td>
        <td>
            <!-- ==================================== RIGHT SIDE ==================================== -->
        
            {% if fund.dividends %}
            <table class="scrollable" style="max-height: 200px;">
                <tr>
                    <th>Dividend date [#period]</th>
                    <th>Amount</th>
                </tr>
                {% for d in fund.dividends %}
                <tr>
                    <td>{{ d['date'].strftime('%Y-%m-%d') }}&nbsp;[#{{ d['accounting_period'] }}]</td>
                    <td>{{ "{:,.0f}".format(d['amount']) }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                No dividends data available.
            {% endif %}
        </td>
    </tr>
</table>


<h3>Fund related actions</h3>
<details>
    <summary>Click to unfold</summary>
    <form method="post" action="/funds/{{ fund.fund_id }}">
        <input type="hidden" name="update_nav" value="true">
        <input type="submit" value="Update NAV">
    </form>
    <form method="post" action="/funds/{{ fund.fund_id }}">
        <input type="hidden" name="update_history_nav" value="true">
        <input type="submit" value="Update HISTORICAL NAV">
    </form>
    <form method="post" action="/funds/{{ fund.fund_id }}">
        <input type="hidden" name="update_whole_nav" value="true">
        <input type="submit" value="Update WHOLE NAV from Investment Trust Association">
    </form>
</details>

{% if fund.nav %}

    <!--   --------------------------------------------------------------------------- -->

    <h3>NAV Chart ({{chartData[3]}} latest)</h3>
    <canvas id="myChart" ></canvas>

<script>

    const myLabels = JSON.parse('{{ chartData[1] | tojson | safe }}');
    const myValues = JSON.parse('{{ chartData[0] | tojson | safe }}');

    const data = {
        labels: myLabels,
        datasets: [{
            borderColor: 'rgb(75, 192, 192)',
            label: '{{ fund.name }}',
            tension: 0.0,
            data: myValues,
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'day',
                    },
                },

            },
        }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

    <!--   --------------------------------------------------------------------------- -->

    <h3>Latest {{chartData[3]}} NAV</h3>
    <table class="scrollable" style="max-height: 300px;">
        <tr>
            <th>Date</th>
            <th>NAV</th>
            <th>NAV Diff (Value)</th>
            <th>NAV Diff (%)</th>
        </tr>
        <tbody>
        {% for ni in range(0, fund.nav_sorted|length if fund.nav_sorted|length < chartData[3] else chartData[3]) %}
        <tr>
            <td>{{ fund.nav_sorted[ni][0][:10] }}</td>
            <td>{{ "{:,.0f}".format(fund.nav_sorted[ni][1]) }}</td>
            <td>
                {% if fund.nav_diff  and ni < fund.nav_diff|length %}
                    {{ "{:+,.0f}".format(fund.nav_diff[ni].diffamt) }}
                {% else %}
                    N/A
                {% endif %}
            <td class="{{ 'stat_positive' if fund.nav_diff[ni].diffpct > 3 else 'stat_negative' if fund.nav_diff[ni].diffpct < 0 else 'stat_warning' }}">
                {% if fund.nav_diff  and ni < fund.nav_diff|length %}
                    {{ "{:+,.2f}".format(fund.nav_diff[ni].diffpct) }}
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% else %}
    No NAV data available.
{% endif %}

{% endblock %}


<!-- *****************************************************************************************************  -->

<!-- ************************************ Right side content *********************************************  -->

<!-- *****************************************************************************************************  -->

{% block content_right %}
<h2>My investments</h2>
<h3>My transactions</h3>
{% if fund.transactions %}
    {{ xact_table(fund.transactions, {'show_fund': False, 'fundname': fund.name}) }}
{% else %}
    No transactions available.
{% endif %}

{% endblock %}

    
