{% extends 'base.html' %}

{% block title %}Funds Detail{% endblock %}

{% block content %}
<h2>Fund Details</h2>
<table>
    <tr>
        <td>Fund UID</td><td>{{ fund.fund_id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ fund.name }}</td>
    </tr>
    <tr>
        <td>Currency</td>
        <td>{{ fund.currency }}</td>
    </tr>
    <tr>
        <td>Codes</td>
        <td>
            {% if fund.codes %}
                <ul>
                    {% for code, value in fund.codes.items() %}
                        <li>{{ code }}: {{ value }} 
                            {% if code == 'yahoo_finance' %}
                            <a href="https://fund.monex.co.jp/detail/{{value}}" target="_blank">M</a>&nbsp;<a href="https://finance.yahoo.co.jp/quote/{{value}}" target="_blank">Y</a> 
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                No codes available
            {% endif %}
        </td>
    </tr>
</table>

<form method="post" action="/funds/{{ fund.fund_id }}">
    <input type="hidden" name="update_nav" value="true">
    <input type="submit" value="Update NAV">
</form>
<form method="post" action="/funds/{{ fund.fund_id }}">
    <input type="hidden" name="update_history_nav" value="true">
    <input type="submit" value="Update HISTORICAL NAV">
</form>

{% if fund.nav %}
    <h3>NAV Chart</h3>
    <canvas id="myChart" ></canvas>

<script>

    const myLabels = JSON.parse('{{ chartData[1] | tojson | safe }}');
    const myValues = JSON.parse('{{ chartData[0] | tojson | safe }}');

    const data = {
        labels: myLabels,
        datasets: [{
            borderColor: 'rgb(75, 192, 192)',
            label: '{{ fund.name }}',
            tension: 0.0,
            data: myValues,
        }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
        }
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>

    <!--   --------------------------------------------------------------------------- -->

    <h3>Latest NAV</h3>
    <table>
        <tr>
            <th>Date</th>
            <th>NAV</th>
            <th>NAV Diff (Value)</th>
            <th>NAV Diff (%)</th>
        </tr>
        {% for ni in range(0, fund.nav_sorted|length) %}
        <tr>
            <td>{{ fund.nav_sorted[ni][0][:10] }}</td>
            <td>{{ "{:,.0f}".format(fund.nav_sorted[ni][1]) }}</td>
            <td>
                {% if fund.nav_diff  and ni < fund.nav_diff|length %}
                    {{ "{:+,.0f}".format(fund.nav_diff[ni].diffamt) }}
                {% else %}
                    N/A
                {% endif %}
            <td>
                {% if fund.nav_diff  and ni < fund.nav_diff|length %}
                    {{ "{:+,.2f}".format(fund.nav_diff[ni].diffpct) }}
                {% else %}
                    N/A
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


{% else %}
    No NAV data available.
{% endif %}
{% endblock %}

    
