{% extends 'base.html' %}

{% block title %}Funds List{% endblock %}

{% block content %}
<h2>Funds List</h2>

<form method="post" action="/funds">
    <input type="hidden" name="update_nav" value="true">
    <input type="submit" value="Update ALL funds latest NAV">
</form>

<table>
        <tr><th>FundID</th><th>Name</th><th>Currency</th><th>Current position</th><th>Latest NAV</th><th>Latest NAV Date</th></tr>
    {% for p in pos %}
    <tr>
        <td>{{ p["fund_id"] }}</td>
        <td><a href="/funds/{{ p['fund_id'] }}">{{ p["name"] }}</a></td>
        <td>{{ p["currency"] }}</td>
        <td>{{ "{:,.0f}".format(p["latest_unit"]) }}</td>
        <td>{{ "{:,.0f}".format(p["latest_nav"]) }}</td>
        <td>{{ p["latest_date_nav"][:10] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

    
