{% extends 'base.html' %}

{% block title %}Funds Detail{% endblock %}

{% block content %}
<h2>Fund Details</h2>
<table>
    <tr>
        <td>Fund UID</td><td>{{ fund.fund_id }}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ fund.name }}</td>
    </tr>
    <tr>
        <td>Currency</td>
        <td>{{ fund.currency }}</td>
    </tr>
    <tr>
        <td>Codes</td>
        <td>
            {% if fund.codes %}
                <ul>
                    {% for code, value in fund.codes.items() %}
                        <li>{{ code }}: {{ value }} 
                            {% if code == 'yahoo_finance' %}
                            <a href="https://fund.monex.co.jp/detail/{{value}}" target="_blank">M</a>&nbsp;<a href="https://finance.yahoo.co.jp/quote/{{value}}" target="_blank">Y</a> 
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                No codes available
            {% endif %}
        </td>
    </tr>
</table>

<form method="post" action="/funds/{{ fund.fund_id }}">
    <input type="hidden" name="update_nav" value="true">
    <input type="submit" value="Update NAV">
</form>

{% if fund.nav %}
    <h3>Latest NAV</h3>
    <table>
        <tr>
            <th>Date</th>
            <th>NAV</th>
        </tr>
        {% for n in fund.nav_sorted %}
        <tr>
            <td>{{ n[0][:10] }}</td>
            <td>{{ "{:,.0f}".format(n[1]) }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No NAV data available.</p>
{% endif %}
{% endblock %}

    
