{% extends 'base.html' %}

{% block title %}Holdings{% endblock %}

{% block content %}

<div class="visual-frame">
<form method="post" action="/holdings/rerun_position" style="margin-bottom: 1em;">
    <input type="checkbox" id="enable_start_date" name="enable_start_date" onclick="document.getElementById('start_date').disabled = !this.checked;">
    <label for="enable_start_date">Force start date for recalculation</label>
    <input type="date" id="start_date" name="start_date" disabled>
    <input type="submit" value="Recalculate Positions">
</form>
</div>
<h1>Holdings</h1>

{% if pos %}
    {{ holdings_table(pos, {'show_fund': True}) }}
{% else %}
    No holdings available.
{% endif %}

{% endblock %}

{% macro holdings_table(holdings, options) %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if options.show_fund %}
                    <th>Fund</th>
                    {% endif %}
                    <th>Date</th>
                    <th>Unit</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for holding in holdings %}
                <tr>
                    {% if options.show_fund %}
                    <td>{{ holding.fund_id }}</td>
                    {% endif %}
                    <td>{{ holding.at_date }}</td>
                    <td>{{ holding.unit }}</td>
                    <td>{{ holding.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}