{% extends 'base.html' %}

{% block title %}Holdings{% endblock %}

{% block content %}

<details>
    <summary>Holdings actions (click to unfold)</summary>
<div class="visual-frame">
<form method="post" action="/holdings/rerun_position" style="margin-bottom: 1em;">
    <table class="noborder">
        <tr>
            <td>
                <input type="checkbox" id="enable_start_date" name="enable_start_date" onclick="document.getElementById('start_date').disabled = !this.checked;">
                <label for="enable_start_date">Force start date for recalculation</label>
                <input type="date" id="start_date" name="start_date" disabled>                
            </td>
            <td rowspan="2">
                <input type="submit" value="Recalculate Positions">
            </td>
        </tr>
        <tr>
            <td>
                <label for="fund_id">Select Fund</label>
                <select name="fund_id" id="fund_id">
                    <option value="-1">(All Funds)</option>
                    {% for fund in funds %}
                        <option value="{{ fund.fund_id }}">{{ fund.name }}</option>
                    {% endfor %}
                </select>
            </td><!--td></td-->
        </tr>
    </table>
</form>
</div>
</details>


<h1>Holdings</h1>
{% set selected_fund_id = request.args.get('fund_id') | int %}
<select name="show_fund_id" id="show_fund_id" onchange="window.location.href='/holdings?fund_id=' + this.value;">
    <option value="0">(All Funds)</option>
    {% for fund in funds %}
        <option value="{{ fund.fund_id }}" {{ 'selected' if fund.fund_id == selected_fund_id else '' }}>{{ fund.name }}</option>
    {% endfor %}
</select>
<span class="note small">Showing 30 days of data only.</span>

{% if pos %}
    {{ holdings_table(pos, {'show_fund': True}) }}
{% else %}
    No holdings available.
{% endif %}

{% endblock %}

{% macro holdings_table(holdings, options) %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if options.show_fund %}
                    <th>Fund</th>
                    {% endif %}
                    <th>Date</th>
                    <th>Unit</th>
                    <th>NAV</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>

                {% set selected_fund_id = request.args.get('fund_id') | int %}
                {% for holding in holdings if (holding.fund_id == selected_fund_id or selected_fund_id == 0) %}

                    {# Insert a date header row when the date changes #}
                    {%- if loop.index == 1 or (loop.index > 0 and holdings[loop.index - 2].at_date != holding.at_date)  -%}
                        <tr><td class="date_header" colspan="{{ 5 if options.show_fund else 4 }}">{{ holding.at_date }}</td></tr>
                    {%- endif -%}
                    <tr>
                        {% if options.show_fund %}
                        <td>[{{ holding.fund_id }}]&nbsp;{{ holding.fund_name }}</td>
                        {% endif %}
                        <td>{{ holding.at_date }}</td>
                        <td>{{ "{:,.0f}".format(holding.unit) }}</td>
                        <td>{{ "{:,.0f}".format(holding.nav) if holding.nav is not none else "N/A" }}</td>
                        <td>{{ "{:,.0f}".format(holding.amount) }} <i>vs {{ "{:,.0f}".format((holding.unit * holding.nav) // 10000) if holding.nav is not none else "N/A" }}(calc)</i></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}