<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Fund Manager{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <script type="text/javascript" src="/js/utils.js"></script>
    <script src="/js/Chart.min.2.8.0.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

<!-- Have to define Macro here to be available in all pages -->
{% macro xact_table(xact, options) -%}
    <div>
        <table>
            <thead>
                <tr>
                    {% if options.show_fund %}
                    <th>Fund</th>
                    {% endif %}
                    <th>Date</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Price/10k unit</th>
                    <th>PnL Last NAV</th>

                </tr>
            </thead>
            <tbody>
                {% for item in xact %}
                <tr>
                    {% if options.show_fund %}
                    <td><a href="/funds/{{ item.fundid }}">{{ item.fundname }}</a></td>
                    {% endif %}
                    <td>{{ item.trade_date }}</td>
                    <td>{{ item.xtype.to_emoji() }} {{ item.xtype.to_short() }}</td>
                    <td class="rightalign">{{ "{:,.0f}".format(item.unit) }}</td>
                    <td class="rightalign unbreakable">{{ "{:,.0f}".format(item.amount) }}円</td>
                    <td class="rightalign unbreakable">{{ "{:,.0f}".format(item.unit_price) }}円</td>
                    <td class="rightalign unbreakable {{ 'stat_positive' if item.last_nav_pnl > 0 else 'stat_negative' }}">{{ "{:,.0f}".format(item.last_nav_pnl) }}円</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%- endmacro %}
    
    <header>
        <div style="display: flex; align-items: center;">
            <img src="/favicon.png" alt="Favicon" style="width: 64px; margin-right: 1em;" />
            <h1 style="margin: 0;">Fund Manager Companion</h1>
        </div>
        <nav>
            <ul style="list-style: none; padding: 0; margin: 0;">
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('home_page') }}">Home</a></li>
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('show_funds_page') }}">Funds</a></li>
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('bp_transactions.transactions_page') }}">Transactions</a></li>
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('bp_holdings.holdings_page') }}">Holdings</a></li>
                <li style="display: inline; margin-right: 1em;"><a href="{{ url_for('bp_admin.admin_page') }}">Admin</a></li>

            </ul>
        </nav>
    </header>
    <main id="main">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash flash-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        {% block body_content %}{% endblock %}
    </main>
</body>
</html>
